/* Header ==============================*/

header > nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

header > nav > a,
main > a {
	padding: 0 20px;
}

body > header {
	padding: 20px;
}

/* Conditions ==============================*/

.condition {
	border-radius: 10px;

	padding: 20px;
	margin: auto;

	width: 70vw;
}

.condition h3 {
	text-decoration: underline;
	margin-bottom: 10px;
}

/* HR ==============================*/

hr {
	width: 200px;
	margin: 20px auto;
}

/* Links ==============================*/

#goToTop {
	display: flex;
	justify-content: flex-end;

	padding: 20px;
}

/* Media Queries =====================*/

@media screen and (max-width: 375px) {
	main {
		width: 100vw;
	}
	.condition {
		padding: 10px;

		width: 80vw;
	}
}

@media screen and (max-width: 768px) {
	header > nav > a {
		padding: 10px 20px;
	}
}
