/* Titles ==============================*/

h1 {
	position: relative;
	bottom: 340px;
	margin-bottom: -200px;
}

/* Gallery ==============================*/

.gallery {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	padding: 20px;
}

.gallery img {
	width: 250px;
	height: 250px;

	border-radius: 50px;

	opacity: 70%;

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.gallery > img:hover {
	opacity: 100%;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

	z-index: 2;
}

/* Description ==============================*/

.description {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: (2, 1fr);
	justify-content: center;
	align-items: center;

	padding: 20px 50px;
}

.description > .mainArticle {
	grid-column: span 2;
}

.description > article {
	padding: 10px;

	text-align: justify;
}

/* Media queries ==============================*/

@media screen and (max-width: 1060px) {
	.gallery img {
		padding: 10px;
	}
}

@media screen and (max-width: 768px) {
	.description {
		grid-template-columns: 1fr;
	}

	.description > .mainArticle {
		grid-column: 1;
	}
}

@media screen and (max-width: 600px) {
	main {
		width: 100vw;
		margin: 40px auto;
	}

	img.cover {
		height: 350px;
	}

	h1 {
		font-size: 60px;

		bottom: 245px;
		margin-bottom: -170px;

		padding: 35px 0;
	}

	.description {
		padding: 15px;
	}
}

@media screen and (max-width: 375px) {
	main {
		width: 100vw;
		padding: none;
	}

	.description {
		padding: 10px;
	}
}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 50px;

		bottom: 230px;
	}

	img.cover {
		height: 340px;
	}
}
